# pycharm
.idea/
.DS_Store
__pycharm__/
__pycache__/
*.py[cod]
*$py.class
*.zip

# checkpoint
checkpoint/*
!checkpoint/.gitkeep

# data
data/VOC-FOG/
data/Foggy_Driving/

# log
logs/
map_out/

temp/